@font-face {
    font-family: futura-font;
    src: url(./fonts/FutuBk.ttf);
}

body {
    background-color: black;
    font-family: futura-font, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr min(74ch, 100%) 1fr;
}
body > * {
    grid-column: 2;
}
.main-continer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
}
.colum-img {
    background-image: url(./images/arquitectura.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.colum-form {
    background-color: rgb(238, 238, 238);
    display: grid;
    grid-template-rows: 40% 20% 40%;
}
.imputs-continer {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    padding: 20px;
}
.imputs-continer > h3 {
    grid-column: 1/3;
}